@media screen and (min-width: 360px) {
  .content-pokedex__list {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 576px) {
  .content-pokedex__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .content-pokedex {
    max-width: 992px;
    margin: 1rem auto;
    height: auto;
    border-radius: 1rem;
  }

  .content-pokedex__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}