body {
  background-color: rgb(210, 215, 220)
}

.content-pokedex {
  background-color: rgb(225, 69, 69);
}

#content-pokedex__title {
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.content-pokedex__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: .5rem;
  padding: .5rem;
  background: rgba(244, 240, 240, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(5.4px);
}

.content-pokedex__list 
.content-pokedex__pokemon {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  color: rgb(15, 15, 15);
  height: 10rem;
}

.content-pokedex__pokemonName {
  text-transform: capitalize;
  margin: .25rem 0;
}

.content-pokedex__pokemonNumber {
  font-size: .625em;
  font-weight: 700;
  color: #014301;
  text-align: right;
  opacity: .3;
}

.content-pokedex__list 
.content-pokedex__pokemon img {
  max-width: max-content;
  height: 95px;
}

.content-pokedex__pokemonData {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content-pokedex__pokemonType {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content-pokedex__pokemonType .type {
  margin: .25rem 0;
  padding: .25rem .5rem;
  font-size: .625em;
  text-align: center;
  text-transform: uppercase;
  color: #014301;
  border: none;
  border-radius: 10px;
  filter:brightness(1.1)
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#btn-prev {
  margin: 0 15px 0 0px;
}

#btn-prev, #btn-next {
  background-color: rgb(24, 23, 23);
  font-size: large;
  color: whitesmoke;
  border-radius: 4px;
  padding: .255rem;
}

.normal {
  background-color: #fafacb;
}

.grass {
  background-color: #bfffbf;
}

.fire {
  background-color: #f88d8d;
}

.water {
  background-color: #bfd2ff;
}

.electric {
  background-color: #fcfc60;
}

.ice {
  background-color: #bffffc;
}

.ground {
  background-color: #f2cd6f;
}

.flying {
  background-color: #c7c6f4;
}

.poison {
  background-color: #fdbfff;
}

.fighting {
  background-color: #f99b64;
}

.psychic {
  background-color: #f996e5;
}

.dark {
  background-color: #3a3a3a;
}

.rock {
  background-color: #ac9676;
}

.bug {
  background-color: #ceef68;
}

.ghost {
  background-color: #58567e;
}

.steel {
  background-color: #838983;
}

.dragon {
  background-color: #6a6cf2;
}

.fairy {
  background-color: #f8c1d3;
}